aiohttp==3.6.2
croniter==0.3.30
dnspython==1.16.0
motor==2.0.0
nest-asyncio==1.2.0
pymongo==3.9.0
PyJWT==1.7.1
requests==2.22.0

Pillow==6.2.0; python_version == '3.7'
Pillow==6.2.1; python_version > '3.7'

typing-extensions==3.7.4.1; python_version == '3.7'